.album {
    margin-top: 30px;
    margin-left: 40px;
    width: 300px;
    min-height: 300px;
    float: left;
}

input[type="text"], textarea{
    border-radius: 4px;
    border: 1px solid #bbb;
    width: 120px;
    padding-left: 5px;
    
}

.panel-heading a {
    color: white;
}

.photo-uploader {
    border-radius: 4px;
    float: left;
    border: 1px solid #bbb;
    height: 200px;
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}