<style>
    #error {
        margin: 15% auto;
    }
    p {
        font-size: 5em;  
    }
</style>

<div id="error" class="container">
    <center class="alert alert-danger">
        <div id="404error">
            <p>Error 404</p>
        </div>
        <div id="404title">
            <h1>Ooops, looks like a mistake!</h1>
        </div>

        <div>
            <h2>
                The page you are looking for can't be found. <br>
                Go to home page by <a href="../../app/index.html#/albums">clicking here!</a>
            </h2>
        </div>
    </center>
</div>
