<div class="container" ng-show="isDoneLoading" style="padding: 50px;">

    <input type="text" ng-model="searchField" style="display: block; margin: 0 auto; width: 250px"
    placeholder="Search for ..."/>

    <button class="btn btn-primary" type="button" ng-click="openDialog()">Create new Album</button>


    <div style="clear: left"></div>

    <div class="album panel panel-primary" ng-repeat="album in Albums| filter: searchField | orderBy: 'date'">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="#/albums/{{album.name}}">{{album.title}}</a>
                <div class="date" style="float: right">
                    {{album.date | date}}
                </div>
            </h3>
        </div>
        <div class="panel-body" style="height: 220px; ">
            {{album.description}}
        </div>
        <div class="panel-footer" style="text-align: center">
            {{album.name}}
        </div>
    </div>
</div>
