<div class="container" >
    <div style="float: right; padding: 5px">
        <a href="/#/">Back to Home</a>
    </div>

    <div style="clear:both"></div>
    <form name="myForm">
    <fieldset>
      <legend>{{album_name}}</legend>
      <br>
      <input type="file" ngf-select ng-model="picFile" name="file"    
             accept="image/*" ngf-max-size="2MB" required>
        <div class="row" ng-show="myForm.file.$valid">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" width="242px" height="200px">
              <div class="caption">
                <h3>{{picFile.name}}</h3>
                <p>
                  <textarea ng-model="picFile.description"
                            rows="4"
                            placeholder="Description"
                            style="width: 100%; resize: none"></textarea>
                </p>
                <p> 
                    <button ng-click="picFile = null" ng-show="picFile">Remove</button> 
                    <button ng-disabled="!myForm.$valid" 
                            ng-click="uploader(picFile)">Submit</button>
                    <span class="progress" ng-show="picFile.progress >= 0">
                    <div style="width:{{picFile.progress}}%" 
                            ng-bind="picFile.progress + '%'"></div>
                    </span>
                    <span ng-show="picFile.result">Upload Successful</span>
                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>  
                </p>
              </div>
            </div>
          </div>
        </div>
      <br>
      
        {{picFile.description}}
    </fieldset>
    <br>
  </form>
</div>